* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'LEMONMILK';
  src: url('/fonts/LEMONMILK-Bold.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'LEMONMILK';
  src: url('/fonts/LEMONMILK-Light.otf');
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: #e9e9ff;
  background-image: radial-gradient(
    #7577a31a 0.9500000000000001px,
    #ffffff 0.9500000000000001px
  );
  background-size: 19px 19px;
  height: 100vh;
  color: white;
  font-family: 'LEMONMILK', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 4rem;
}

.title {
  width: 100%;
  height: 17rem;
  background: #4e46df;
  font-weight: 300;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  color: #4e46df;
  margin: 3rem;
}

h1,
h2 {
  text-align: center;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
}